body {
  display: flex;
}

.main-content {
  width: 80%;
  padding: 0 2rem 0 2rem;
  height: 100vh;
}

.title-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: bolder;
}

.search-bar {
  width: 70%;
  margin-top: 10px;
}

.modal-title{
  font-weight: 700;
}