body {
  overflow: hidden;
}

#main-content {
  height: 90vh;
  overflow-y: scroll;
}

#main-content::-webkit-scrollbar {
  background-color: #121212;
  width: 12px;
}

#main-content::-webkit-scrollbar-track {
  background-color: #121212;
}

#main-content::-webkit-scrollbar-thumb {
  background-color: #5c3c7b;
  border-radius: 16px;
  border: 3px solid #121212;
}

#main-content::-webkit-scrollbar-button {
  display: none;
}

#carouselExampleCaptions {
  height: 90vh !important;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
}

.movie-by-date-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  row-gap: 1rem;
  width: 100%;
  padding: 0 2% 0 2%;
}

.movie-by-date-title-container {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

.movie-by-date-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
}

@media (max-width: 1200px) {
  .movie-by-date-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-by-date-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.date-title {
  font-weight: 600 !important;
}

.movie-card {
  position: relative;
  width: 220px;
  width: 200px;
}

.movie-card img {
  height: 100%;
  width: 100%;
  display: block;
}

.movie-card .movie-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 30px 10px 10px 10px;
}

.movie-title {
  display: flex;
  width: 100%;
  justify-content: baseline;
  align-items: center;
  font-size: large;
}

.movie-card:hover .movie-details {
  opacity: 1;
}

.movie-card .movie-details p {
  margin: 5px 0;
}

.movie-text {
  font-weight: bold;
}

.discount-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.discount-badge p {
  margin: 0;
}

.movie-card:hover .discount-badge {
  opacity: 0;
}

#loading {
  height: 70vh;
}

/*-------------------------------------*/

.movie-content {
  padding: 0% 0%;
}

.movie-info {
  flex: 1;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price-title {
  font-size: larger;
  margin: 0;
}

.movie-details {
  display: flex;
  column-gap: 6rem;
  color: #e6e6fa;
  background-color: rgba(31, 27, 36, 0.3);
  padding: 4% 8%;
  font-size: large;
}

.image-poster {
  width: 300px;
  box-shadow: 5px 5px 20px black;
}

.badge {
  background-color: #5c3c7b;
  margin-right: 0.5rem;
}

.badge.price {
  background-color: #5c3c7b;
  font-size: medium;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actor-container {
  padding: 2% 8%;
  color: #e6e6fa;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  color: #e6e6fa;
  font-size: medium;
  margin-right: 5rem;
  width: 190px !important;
  height: 300px !important;
}

.actor-image {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.actor-name {
  font-size: medium;
  align-content: center;
}

.date-container {
  padding: 4% 8% 0 8%;
  color: #e6e6fa;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 2%;
  background-color: rgba(31, 27, 36, 0.3);
}

.show-time-container {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}

.show-time-title {
  font-size: x-large;
}

.show-time {
  width: 15%;
  height: 40px;
  background-color: #e6e6fa;
  color: #5c3c7b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.show-time p {
  margin: 0;
}
.show-time:hover {
  background-color: #5c3c7b;
  color: #e6e6fa;
}

.show-time.selected-time {
  background-color: #5c3c7b;
  color: #e6e6fa;
}

.seating-booking-container {
  color: #e6e6fa;
  background-color: rgba(31, 27, 36, 0.3);
  padding: 4% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seating-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: x-large;
}

.seating-info p {
  margin: 0;
}

.reserved-info-container {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.text-color-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.text-color-container p {
  margin: 0;
}

.reserved-box {
  width: 15px;
  height: 15px;
  background-color: rgba(203, 174, 231, 0.5);
}

.available-box {
  width: 15px;
  height: 15px;
  background-color: #e6e6fa;
}

.seating-structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 9rem 0;
  font-size: 1.3rem;
}

.screen {
  height: 5px;
  width: 650px;
  background-color: white;
}

.ten-seat {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.fourteen-seat {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.eighteen-seat {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.seat {
  height: 50px;
  width: 35px;
  background-color: #e6e6fa;
  margin: 1rem;
  cursor: pointer;
}

.seat:hover {
  background-color: rgba(203, 174, 231, 0.8);
}

.seat.booked {
  background-color: rgba(203, 174, 231, 0.5);
  cursor: default;
}

.seat.selected {
  background-color: rgba(203, 174, 231, 0.1);
}

.seat.booked:hover {
  background-color: rgba(203, 174, 231, 0.5);
}

.booking-form-container {
  padding: 4% 8%;
}

.booking-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  color: #5c3c7b;
  font-size: large;
}

.input-container {
  width: 80%;
}

.payment-form-container {
  background-color: white;
  padding: 4%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 80vh;
  width: 65%;
  border-right: 2px;
  border-style: solid;
  border-color: #e6e6fa;
}

.payment-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.payment-btn {
  width: 100%;
}

.display-container {
  background-color: white;
  padding: 4%;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 80vh;
  width: 35%;
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86%;
}

.booking-title {
  font-size: x-large;
  font-weight: 600;
}

.key-value-pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  font-weight: 600;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.parking-container {
  /* background-color: rgba(31, 27, 36, 0.3); */
  color: #5c3c7b;
  font-size: large;
  margin-bottom: 1rem;
}

.parking-container p {
  font-size: x-large;
  margin: 0;
  font-weight: 600;
}

.parking-price {
  font-size: large;
}

.parking-remaining {
  font-size: medium;
}

.parking-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  column-gap: 2rem;
}

.parking-tickets-text {
  font-size: large;
}

.quantity-controls {
  display: inline-flex;
  align-items: center;
}
.quantity-controls .btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 420px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 20px 30px 30px 30px;
  overflow: hidden;
  background-color: #1f1b24;
}

.logo {
  height: 60px;
  width: 80px;
  margin-bottom: 20px;
}

.card-number {
  font-size: 30px;
  font-family: "Space Mono", monospace;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.card-number::placeholder {
  color: #b5b5b5;
  font-size: 30px;
  font-family: "Space Mono", monospace;
}

input::placeholder {
  color: #b5b5b5;
  font-family: "Space Mono", monospace;
}

.name {
  font-family: "Space Mono", monospace;
  /* padding: 0px 80px 0px 0px; */
  margin-right: 40px;
  width: 100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.expiration-date {
  font-family: "Space Mono", monospace;
  padding: 0px 0px 0px 0px;
  margin-right: 60px;
  width: 80px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.ccv {
  font-family: "Space Mono", monospace;
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
  width: 60px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

input {
  font-family: "Space Mono", monospace;
  border: none;
  font-size: 16px;
  height: 26px;
  color: #ffffff;
  background: 0;
  padding: 0;
  width: 0;
  border-bottom: 1px solid white;
  color: white;
}

label {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-family: "Space Mono", monospace;
  pointer-events: none;
  display: block;
  padding-bottom: 2px;
}

.card-name {
  color: white;
  font-size: 16px;
  height: 26px;
  width: 160px;
  border-bottom: 1px solid white;
  color: white;
}

.container2 {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.btn-outline-secondary {
  border-width: 2px;
}

.btn-outline-secondary:hover {
  background-color: #5c3c7b;
}
