body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
}

.bg-primary {
  background-color: #4b0082 !important;
}

.bg-light {
  background-color: #e6e6fa !important;
}

.btn-primary {
  background-color: #7c5aaa;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #6b429d;
}

.btn-primary:active {
  background-color: #6b429d !important;
}

.btn-primary::after {
  background-color: #6b429d !important;
}

.btn-primary:focus {
  background-color: #6b429d !important;
}

.btn-primary:disabled {
  background-color: #b19fd0;
  cursor: default;
}

.btn-secondary {
  background-color: white;
  border: 1px solid #6b429d;
  cursor: pointer;
  color: #6b429d !important;
}

.btn-secondary:hover {
  background-color: #f2f2fd;
}

.btn-secondary:active {
  background-color: #f2f2fd !important;
}

.btn-secondary::after {
  background-color: #f2f2fd !important;
}

.btn-secondary:focus {
  background-color: #f2f2fd !important;
}

.btn-secondary:disabled {
  background-color: white;
  cursor: default;
}

.text-primary {
  color: #4b0082 !important;
}

.text-destruction {
  color: red !important;
}

/*Input field styles*/

.no-glow:focus {
  box-shadow: none;
  /* Disable glow */
  border-color: inherit;
  /* Optionally maintain original border color */
}

/*Toast style*/

#toast-placeholder {
  z-index: 1200;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10% 10px 10%;
  background-color: #1f1b24;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #e6e6fa;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}

.navbar-brand:hover {
  color: white;
}

#brand-name {
  margin: 0;
}

.nav-middle {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: large;
  width: 60%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: large;
}

.nav-link {
  color: #e6e6fa;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-icon {
  color: #e6e6fa;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-icon:hover {
  color: white;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.login-btn {
  background-color: #5c3c7b;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn:hover {
  background-color: #6b429d;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.search-bar {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
}

#search-input {
  height: 30px !important;
}

.search-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}