body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.bg-primary {
  background-color: #4b0082 !important;
}

.bg-light {
  background-color: #e6e6fa !important;
}

.btn-primary {
  background-color: #7c5aaa;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #6b429d;
}

.btn-primary:active {
  background-color: #6b429d !important;
}

.btn-primary::after {
  background-color: #6b429d !important;
}

.btn-primary:focus {
  background-color: #6b429d !important;
}

.btn-primary:disabled {
  background-color: #b19fd0;
  cursor: default;
}

.text-primary {
  color: #4b0082 !important;
}

.text-destruction {
  color: red !important;
}

/*Input field styles*/

.no-glow:focus {
  box-shadow: none; /* Disable glow */
  border-color: inherit; /* Optionally maintain original border color */
}

/*Toast style*/

#toast-placeholder {
  z-index: 1200;
}